# =====================================================
# Logs
# =====================================================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================================================
# Node / Vue
# =====================================================
node_modules/
dist/
dist-ssr/
*.local

# =====================================================
# Spring Boot / Maven
# =====================================================
target/
.mvn/wrapper/maven-wrapper.jar

# =====================================================
# Database
# =====================================================
backend/data/
*.mv.db
*.trace.db

# PostgreSQL
postgres.log
postgresql.log
pg_wal/
pg_stat/
pg_log/

# =====================================================
# IDE
# =====================================================
.vscode/*
!.vscode/extensions.json

.idea/

# =====================================================
# OS
# =====================================================
.DS_Store
Thumbs.db
Desktop.ini

# =====================================================
# Visual Studio
# =====================================================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================================================
# Temporary
# =====================================================
*.tmp
*.temp
